.balloon {
  width: 400px;
  min-height: 100px;
  position: fixed;
  top: 34px;
  left: 270px;
  background-color: #f4f4f4;
  border: 2px solid #4aacd0;
  border-radius: 6px;
}
.balloon:before,
.balloon:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  bottom: 100%;
}
.balloon:before {
  border-color: #4aacd0 transparent;
  border-width: 0 10px 14px;
  left: 10px;
}
.balloon:after {
  border-color: #d7d7d9 transparent;
  border-width: 0px 8px 11px;
  left: 12px;
}
.balloon.right {
  left: initial;
  right: 20px;
}
.balloon.arrow-right:before {
  left: 360px;
}
.balloon.arrow-right:after {
  left: 362px;
}
.balloon .header {
  padding-top: 1px;
  padding-left: 6px;
  height: 20px;
  background: linear-gradient(to top, #969696, #d7d7d9);
  font-size: 11px;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
}
.balloon .content {
  padding: 4px;
  border-radius: 0 0 4px 4px;
  color: #275a7b;
  background-color: #c8dfec;
}
.balloon .closer {
  display: block;
  position: absolute;
  top: 2px;
  right: 6px;
  font-size: 14px;
}
.balloon .closer a {
  text-decoration: none;
  color: #000000;
}
.balloon .closer a:hover {
  color: #4aacd0;
}
.balloon.error {
  border-color: #c63b3c;
}
.balloon.error:before {
  border-color: #c63b3c transparent;
}
.balloon.error .content {
  color: #923132;
  background-color: #e5cdce;
}
.balloon.error a:hover {
  color: #c63b3c;
}
